html,body{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;

}
body{
    display: flex;
    flex-wrap: wrap;    
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}	
input,
textarea,
select,
button {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.quote{
    position: relative;
    top: 20%;
    width: 100%;
    padding: 5px 0 0 0;
    max-height: fit-content;
    min-height: 100px;
    background-color: rgb(0, 0, 0, 0.4);
    font-size: 1.5rem;
    color: aquamarine;
    display: flex;
    align-items: center;
    gap: 10px;
}
@media screen and (min-width: 601px){
    .left-side, .right-side{
        height: 100vh;     
    }
    
    .left-side{
        width: 45%;
    }
    .right-side{
        width: 55%;
    }
}
@media screen and (max-width: 600px){
    .left-side{
        width: 100%;
        height: fit-content;
    }
    .right-side{
        width: 100%;
        height: fit-content;
    }
    html{
        font-size: 10px;
    }

}
.left-side{
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(images/name.png);
    background-size: clamp(700px,45vw,100vw) 100vh;
    
    
    
}
.right-side{
    box-shadow: 0 0 15px 0.5px gray ;
    display: flex;  
    background: linear-gradient(to bottom,#97d3eb,  #c4e6b6 ) ;
    justify-content: flex-end;
    flex-direction: column;
    justify-content: center;
}
form{
    height: fit-content;
    background: rgba(126, 118, 86, 0.5);
    box-shadow: 0 0 10px 2px gray ;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-bottom: 16px;
   
 
}
.inputFields{
    padding-bottom: 16px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap:15px 60px;
    
}

.passwordContainer,.passwordConfirmContainer,.phoneNumberContainer,.firstNameContainer,.lastNameContainer,.emailContainer
{
    display: flex;
    flex-direction: column;
}

.input{
    width: clamp(280px ,calc(50% - 40px), 400px);
} 
input{
    padding: 5px 0 5px 5px;
    border-radius:10px;
    border: 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
input:focus{
    outline: none;
    border: 2px solid;
    border-color: blue;
}
input:invalid:not(:placeholder-shown){
    border: 2px solid;
    border-color: red;
}
input:invalid + .error{
    display: block;
}
input:valid:not(:placeholder-shown){
    border: 2px solid;
    border-color: green;
}


img{
    width: 90px;
    height: 80px;
    min-width: 90px;
    min-height: 80px;
    margin: 10px;
}
label{
    font-size: x-small;
    color: white;
}
p{
    font-size: x-large;
    color: white;
    margin: 10px;
}
button{
    font-size: large;
    color: white;
    padding: 6px 20px;
    background-color: #596D48;
    border-radius: 5px;
    border: 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
button:hover{
    background-color: rgb(44, 146, 44);
    cursor: pointer;
}

.signIn p{
    color: black;
    font-size: medium;
    padding:  0 0 0 20px;
}
a{
 text-decoration: none;
 padding-left: 10px;
 color: #596D48;
}
